h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* .box {
  display: flex;
  flex-wrap: wrap;
  width: 408px;
  height: 136px;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  height: auto;
} */

#name-input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin-top: 24px;
  color: #2e2f42;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

::placeholder {
  color: #2e2f42;
}

h1 {
  padding-top: 16px;
  color: #2e2f42;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
}
